.search {
  margin-right: 5px;
  border-radius: 0.5em;
  border: 1px solid #bebebe;
  transition: all .3s;
}

.search:hover {
  border: 1px solid white;
}


.btn {
  color: #090909;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e0e0e0;
  border: 1px solid #bebebe;
  transition: all .3s;
  box-shadow: 6px 6px 12px #bebebe,
             -2px -3px 10px #e0e0e0;
  font-family: 'Lato', 'Inter' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover {
  border: 1px solid white;
}

.btn:active {
  box-shadow: 4px 4px 12px #bebebe,
             -4px -4px 12px #e0e0e0;
}
